:root{
    --orange-red: #e64820;
}

/* futura pt */



@font-face {
    font-family: 'futura_ptbook';
    src: url('../fonts/futuraptbook-webfont.woff2') format('woff2'),
         url('../fonts/futuraptbook-webfont.woff') format('woff'),
         url('../fonts/futuraptbook-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/* century gothic */

@font-face {
    font-family: 'century_gothicbold';
    src: url('../fonts/gothicb-webfont.woff2') format('woff2'),
         url('../fonts/gothicb-webfont.woff') format('woff'),
         url('../fonts/gothicb-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'century_gothicregular';
    src: url('../fonts/gothic-webfont.woff2') format('woff2'),
         url('../fonts/gothic-webfont.woff') format('woff'),
         url('../fonts/gothic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/* georgia */

@font-face {
    font-family: 'georgiabold_italic';
    src: url('../fonts/georgia_bold_italic-webfont.woff2') format('woff2'),
         url('../fonts/georgia_bold_italic-webfont.woff') format('woff'),
         url('../fonts/georgia_bold_italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'georgiabold';
    src: url('../fonts/georgia_bold-webfont.woff2') format('woff2'),
         url('../fonts/georgia_bold-webfont.woff') format('woff'),
         url('../fonts/georgia_bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'georgiaitalic';
    src: url('../fonts/georgia_italic-webfont.woff2') format('woff2'),
         url('../fonts/georgia_italic-webfont.woff') format('woff'),
         url('../fonts/georgia_italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'georgiaregular';
    src: url('../fonts/georgia-webfont.woff2') format('woff2'),
         url('../fonts/georgia-webfont.woff') format('woff'),
         url('../fonts/georgia-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



body{
    background-color: rgb(245, 243, 237);
    font-family: 'georgiaregular';
    overflow: hidden;
    display: flex;
    justify-content: center;
}

main{
    max-width: 650px;
    font-weight: 400;
    font-family: 'georgiaitalic';
    font-size: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

img{
    max-width: 100%;
}

p{
    font-size: 3.5em;
    margin: 0;
    padding: 0;
    text-align: center;
}

button img{
    max-width: 1.5em;
    filter: invert(100%);
}

#landscape_warning{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    z-index: 9;
    height: 100%;
    background-color:rgb(245, 243, 237);
}

#landscape_warning_message{
    padding-top: 15vh;
    font-size: .5em;
    max-width: 800px;
    margin: 0 auto 0;
}

#landscape_warning_message img{
    width: 25%;
}

#timer_ring{
    margin-top: 2em;
    width: 20em;
    height: 20em;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(251, 249, 242);
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
    z-index: 1;
    border: 2px solid var(--orange-red);
}

#timer_center{
    background-color: rgb(245, 243, 237);
    width: 12em;
    height: 12em;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-variant-numeric: tabular-nums;
    z-index: 1;
    font-family: 'century_gothicregular';
    font-size: 1.5em;
    border: 2px solid var(--orange-red);
    font-variant-numeric: tabular-nums;
}

#timer_center_smaller{
    background-color: white;
    width: 10em;
    height: 10em;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    padding: 2em;
    border-radius: 3em;
    width: 100%;
    margin: 1em 2em 1em;
    font-weight: bold;
    background-color: var(--orange-red);
    color: rgb(66, 66, 66);
    border: none;
    transition: background-color .25s, box-shadow .25s, color .25s;
    font-family: 'Poppins';
}

.button-interface{
    display: flex;
    margin-top: 1.5em;
}

.info_button{
    background-color: rgb(245, 243, 237);
    padding: .75em;
    border-radius: 3em;
    width: 1em;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--orange-red);
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 75%;
    margin-bottom: .75em;
    border: 2px solid var(--orange-red);
}

#start_button{
    width: 12em;
}

#pause_button{
    display: none;
    width: 6em;
    height: 6em;
    background-color: var(--orange-red);
    transition: background-color .25s, filter .25s;

}

#pause_button:hover{

    background-color: rgb(149, 8, 8);

}


#resume_button{
    display: none;
    width: 6em;
    height: 6em;
    background-color: var(--orange-red);
    transition: background-color .25s, filter .25s;
}

#resume_button:hover{
    background-color: rgb(149, 8, 8)
}

#reset_button{
    display: none;
    background-color: rgb(149, 8, 8);
    color: var(--orange-red);
}

#reset_button:hover{
    background-color: rgb(70, 0, 0)
}

#reset_button img{
        max-width: 2.5em;

}

#end_button{
    display: none;
    background: var(--orange-red);
    color: white;
    width: 6em;
    height: 6em;
}

#end_button img{
    filter: invert(100)
}

#end_button:hover{
    background-color: rgb(149, 8, 8)
}

#user-input-timer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: .9em;
    text-align: center;
}

#user-input-timer input{
    font-size: 3.5em;
    margin: .2em;
    border: 1px solid rgba(0, 0, 0, 0.115);
    border-radius: .25em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 400;
    background-color: rgb(245, 243, 237);
    font-family: 'futura_ptbook';
    width: 2em;
    height: 1em;
}

#user-input-timer input:focus {
    /* Change highlight background color to black */
    background: var(--orange-red);
    /* Change highlight text color to red */
    color: #ffffff;
    border: none;
    outline: none;
  }
  

button:hover{
    cursor: pointer;
}

.button:hover{
    background-color: rgb(149, 8, 8);
    box-shadow: .1em .1em .1em rgba(0, 0, 0, 0.081);
    color: white;

}

#prompt_reveal_inner_border{
    border: 2px solid var(--orange-red);
    margin: 0;
    padding: 12em 3em 12em;
    border-radius: .5em;

}

#prompt_reveal{
    background-color: rgb(245, 243, 237);
    position: absolute;
    z-index: 5;
    padding: 1.5em;
    font-size: .5em;
    max-width: 60em;
    border-radius: 1em;
    box-shadow: 1em 0em 2em rgba(0, 0, 0, 0.116);
    margin-top: 300%;
    animation-name: prompt-reveal-rise;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    margin-left: .5em;
    margin-right: .5em;
}

#prompt_reveal_small{
    font-size: 2.5em;
    font-style: italic;
    margin-bottom: 1em;
    color: var(--orange-red)
}

#prompt_reveal_large{
    font-size: 3.75em;
    font-family: 'georgiabold_italic';
}

#dark_background{
    position: absolute;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff00;
    animation-timing-function: ease-in-out;
    animation-name: background-fade;
    animation-duration: 5s;
}

#info_background{
    position: absolute;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange-red);
}

#current_prompt{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 90%;
    height: 6em

}

#current_prompt_text{
   font-size: 1.5em;
   color: black;
   font-family: 'georgiaitalic';
}

.paper-texture{
    background-image: url(../assets/test-paper.jpg);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: repeat;
    mix-blend-mode: multiply;
    pointer-events: none;
    background-size: cover;
}

@keyframes background-fade{
    0% {background-color: #ffffff00;}
    10% {background-color: #29212138;}
    90% {background-color: #29212138;}
    100% {background-color: #ffffff00;}
}

@keyframes prompt-reveal-rise{
    0% { margin-top: 300%;}
    15%{margin-top: 0%;}
    85%{margin-top: 0%;}
    95%{margin-top: -20%;}
    100% { margin-top: -400%;}
}


@media screen and (orientation:portrait) {   
    
    #landscape_warning{
        display: none;
    }

    main{
        display: flex;
        z-index: 0;
    }
}

@media screen and (orientation:landscape) {
    #landscape_warning{
        display: block;
    }

    main{
        display: none;
    }

}